.places__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color:  #FFFFFF;
  padding-top: 12px;
}
.places__link:hover {
  opacity: .8;
}
@media screen and (max-width: 680px) {
  .places__link {
    font-size: 14px; 
  }
}
@media screen and (max-width: 430px) {
  .places__link {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .places__link {
    font-size: 18px; 
  }
}