.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 32px;
  outline: 1px solid red ;
  text-align: center;
  max-height: 72px;
  max-width: 640px;


}