.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 115px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 680px) {
  .cover__title {
    font-size: 60px;
    line-height: 64px;
  }
}
@media screen and (max-width: 430px) {
  .cover__title {
    font-size: 45px;
    line-height: 45px;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    padding-top: 33px;
    box-sizing: border-box;
    font-size: 32px;
    line-height: 35px; 
  }
}